{% extends 'layout.jinja2' %}

{% block content %}
<div class="container pt-4">
  <!-- Section: Main chart -->
  <section class="mb-4">
    <div class="card">
      <div class="card-header py-3">
        <h5 class="mb-0 text-center"><strong>위법물 판별</strong></h5>
      </div>
      <div class="card-body">
        <div class="my-4 w-100" id="myChart" height="380">
            <div class="d-flex justify-content-between">
                <div class="flex-grow-0">
                    <div class="input-group">
                      <div class="form-outline">
                        <input type="number" id="search-text" class="form-control"
                               onchange="button_active()"
                               min="0" max="1610530"/>
                        <label class="form-label" for="search-text">Search</label>
                      </div>
                      <button id="search-button" type="button" class="btn btn-primary" disabled>
                        <i class="fas fa-search"></i>
                      </button>
                      <button id="start-button" type="button" class="btn btn-info"
                              disabled
                              onclick="get_plotly()">
                        예측 시작
                      </button>
                    </div>
                    <div id="df">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">column</th>
                              <th scope="col">value</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">id</th>
                              <td id="cell_id"></td>
                            </tr>
                            <tr>
                              <th scope="row">HS코드</th>
                              <td id="cell_hs"></td>
                            </tr>
                            <tr>
                              <th scope="row">수입업체</th>
                              <td id="cell_con"></td>
                            </tr>
                            <tr>
                              <th scope="row">품목의 원산지</th>
                              <td id="cell_origin"></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div id="loading"></div>
                <div id="plotly-origin"></div>
            </div>
        </div>

        <script>
            let id = 1
            const get_plotly = () => {
                $("#plotly-origin").empty();
                $("#loading").append('<div class="spinner-border text-primary" role="status">' +
                                     ' <span class="visually-hidden">Loading...</span>' +
                                     '</div>');
                $.ajax({
                    method: 'get',
                    url: 'http://192.168.2.22:8090/plotly-predict',
                    data: {
                        id,
                    },
                    success: (data) => {
                        $("#plotly-origin").empty()
                        let inner_data = JSON.parse(data);
                        console.log(inner_data)
                        const {data: graph, layout} = inner_data;
                        Plotly.newPlot('plotly-origin', graph, layout);
                    }
                });
                $("#loading").empty();
            }

            // 검증 데이터 불러오기
            const searchButton = document.getElementById('search-button');
            searchButton.addEventListener('click', () => {
                id = document.querySelector("#search-text").value;
                if (!id || id < 0 || id > 1610530) {
                    id = 1
                    return;
                }

                $("#df").append('<div id="spin_df" class="spinner-border text-primary" role="status">' +
                                    '<span class="visually-hidden">Loading...</span>' +
                                '</div>')
                $.ajax({
                    method: 'get',
                    url: 'http://192.168.2.22:8090/test-data',
                    data: {
                        id,
                    },
                    success: (data) => {
                        const table_data = JSON.parse(data);
                        const {
                            COM_COMBINED_NOMENCLATURE_33: {
                                0: hs_code
                            },
                            CON_NAME_8: {
                                0: con_name
                            },
                            IDG_COUNTRY_OF_ORIGIN_34: {
                                0: origin_country
                            },
                        } = table_data

                        $("#cell_id").text(id);
                        $("#cell_hs").text(hs_code);
                        $("#cell_con").text(con_name);
                        $("#cell_origin").text(origin_country)
                        $("#spin_df").detach()
                        $("#start-button").prop('disabled', false)
                    }
                })
            });

            const button_active = () => {
                if (event.target.value) {
                    searchButton.disabled = false
                } else {
                    searchButton.disabled = true
                }
            }
        </script>
      </div>
    </div>
  </section>
  <!--Section: Minimal statistics cards-->
  <section>
    <div class="row">
      {% for country in country_list %}
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div class="align-self-center">
                    <span class="flag-icon flag-icon-{{ country[0].lower() }} h1"></span>
                  </div>
                  <div class="text-end">
                    <h3>{{ country[1] }}</h3>
                    <p class="mb-0">{{ country[0] }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </section>
  <!--Section: Minimal statistics cards-->
</div>
{% endblock %}