<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Taji Customs Ill</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <!-- MDB -->
{#  <link rel="stylesheet" href="../static/assets/dist/css/bootstrap.min.css" />#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
          rel="stylesheet"/>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
    ></script>
  <!-- Custom styles -->
  <link rel="stylesheet" href="/main/static/assets/dist/css/admin.css" />
  <link rel="stylesheet" href="/main/static/assets/dist/css/flag-icon.css" />
  <link rel="stylesheet" href="/main/static/assets/dist/css/flag-icon.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{#  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>#}
  <script src="./main/static/assets/dist/js/plotly-latest.min.js"></script>
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/" class="list-group-item list-group-item-action py-2 ripple {{ active['model'] }}"}>
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>위법물 판별</span>
          </a>
          <a href="/trd" class="list-group-item list-group-item-action py-2 ripple {{ active['trd'] }}" aria-current="true" }>
            <i class="fas fa-industry fa-fw me-3"></i><span>화주</span>
          </a>
          <a href="/total" class="list-group-item list-group-item-action py-2 ripple" {{ active['total'] }}>
            <i class="fas fa-balance-scale fa-fw me-3"></i><span>총 수량 중량</span>
          </a>
          <a href="/con" class="list-group-item list-group-item-action py-2 ripple {{ active['con'] }}"><i
              class="fas fa-handshake fa-fw me-3"></i><span>수령인</span></a>
          <a href="/currency" class="list-group-item list-group-item-action py-2 ripple {{ active['currency'] }}"><i
              class="fas fa-dollar-sign fa-fw me-3"></i><span>재무</span></a>
          <a href="/dnt" class="list-group-item list-group-item-action py-2 ripple {{ active['dnt'] }}">
            <i class="fas fa-edit fa-fw me-3"></i><span>신고자/대표자</span>
          </a>
          <a href="/delivery" class="list-group-item list-group-item-action py-2 ripple {{ active['delivery'] }}"><i
              class="fas fa-truck fa-fw me-3"></i><span>운송</span></a>
          <a href="/location" class="list-group-item list-group-item-action py-2 ripple {{ active['location'] }}"><i
              class="fas fa-map-marker-alt fa-fw me-3"></i><span>위치 정보</span></a>
          <a href="/item" class="list-group-item list-group-item-action py-2 ripple {{ active['item'] }}"><i
              class="fas fa-gift fa-fw me-3"></i><span>품목</span></a>
          <a href="/rep" class="list-group-item list-group-item-action py-2 ripple {{ active['rep'] }}"><i
              class="fas fa-user-tie fa-fw me-3"></i><span>관세사</span></a>
          <a href="/person" class="list-group-item list-group-item-action py-2 ripple {{ active['person'] }}"><i
              class="fas fa-user-friends fa-fw me-3"></i><span>대리인</span></a>
          <a href="/nation" class="list-group-item list-group-item-action py-2 ripple {{ active['nation'] }}"><i
              class="fas fa-globe fa-fw me-3"></i><span>국가별 동향</span></a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <img src="main/static/img/logo.png" height="25" alt="" loading="lazy" />
        </a>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 58px">
    {% block content %} {% endblock %}
  </main>
  <!--Main layout-->
  <!-- MDB -->
    <!--  <script type="text/javascript" src="js/mdb.min.js"></script>-->
  <!-- Custom scripts -->
    <!--  <script type="text/javascript" src="js/admin.js"></script>-->

</body>

</html>